body {
	background-color: #5191CD;
	margin-top: 0px;
	background-image: url(images/Apple-logo.png);
	background-repeat: no-repeat;
	background-position:bottom left;
}
body,td,th {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #898989;
}
a:link {
	color: #DD391E;
}
.date {
	background-image: url(images/date.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-top: 25px;
}
.style2 {font-size: 24px}
.style3 {
	color: #FFFFFF;
	font-size: 50px;
}
.style4 {color: #CF3E1A}
.date-big {font-size: 40px; color: #FFFFFF}
.date-small {font-size: 12px; color: #FFFFFF}
.dates {	background-image: url(images/buckwheat_07.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
}
.style14 {font-size: 12px}
.style6 {font-size: 16px}
.style6 {font-size: 16px }
.style9 {font-size: 10px}
.style26 {
	font-size: 16px;
	margin: 20px;
	color: #000000;
	padding-top: 60px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.table-border {	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #999999;
	padding-left: 10px;
}
.table-border-right {	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	padding-left: 10px;
}
.border-bottom {	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
}
.style8 {font-size: 16px; margin: 20px; color: #000000; padding-top: 60px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; font-weight: bold; }
.style27 {
	color: #000000;
	font-weight: bold;
}
.style29 {font-size: 40px; color: #DC391D; }
.style31 {font-size: 18px}
.style33 {border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #999999; border-right-width: 1px; border-right-style: dashed; border-right-color: #999999; padding-left: 10px; font-weight: bold; }
.style34 {font-size: small}
.style35 {color: #FF0000}

.total {
    position: fixed;
    display: block;
    left: 0;
    background: yellow;
    width: 150px;
    height: 40px;
    top: 50%;
}

.total.bottom {
    position: relative;
    display: block;
    background: yellow;
    
    left:inherit;
    width: inherit;
    height: inherit;
    top: inherit;
}